$size: 3rem;

$background: #37474f; // MUI blueGray-800
$background-hovered: white;

@mixin addBorder() {
    border-width: 1px 0 0;
    border-style: solid;
    border-color: rgb(200 200 200);
}

.wb-container {
    z-index: 9999;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    font-weight: 400;
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background-color, color, opacity, transform;
    transition-duration: 300ms, 600ms, 300ms, 900ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;

    background: $background;
    &:hover {
        background-color: $background-hovered;
    }
}

.wb-img-container {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    box-shadow: 0rem 0.2rem 0.6rem rgb(0 0 0 / 0.5);

    border-radius: inherit;

    transition: inherit;
    background: inherit;

    .wb-container:hover > & {
        transform: scale(1.2);

        @include addBorder();
    }   
}

.wb-img {
    filter: brightness(0) invert(1);
    .wb-container:hover & {
       filter: none;
    }
}

.wb-text-container {
    --wb-color: #39f;

    position: absolute;
    z-index: -1;
    right: 0;
    box-shadow: 0rem 0.2rem 0.4rem rgb(0 0 0 / 0.4);
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border-bottom-left-radius: 0.55rem;
    opacity: 0%;
    width: fit-content;
    padding-right: 1rem;
    pointer-events: none;
    color: #000;

    transition: inherit;
    background-color: $background-hovered;
    transition-delay: 200ms;

    .wb-container:hover > & {
        transform: translateX(- calc( $size + 1rem ));
        opacity: 100%;

        @include addBorder();
    }
}

.wb-text {
    white-space: nowrap;
    font-weight: 700;
}

