$size: 3rem;
$padding: 0.5rem;
/* offset-x | offset-y | blur-radius | color */
$shadow: 0rem 0.2rem 0.4rem rgb(0 0 0 / 0.4);

$background: rgb(0 0 0 / 0.8);
$background-hovered: white;
$blue: #39f;

@mixin addBorder {
    border-width: 0;
    border-top-width: 1px;
    //border-left-width: 1px;
    border-style: solid;
    border-color: lightgray;
}

.wb-container {
    z-index: 9999;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    font-weight: 400;
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 9999px;

     transition-property: background-color, color,opacity, transform;
     transition-duration: 0.6s, 0.3s, 0.4s, 0.6s;
     transition-timing-function: ease-in-out;
    cursor: pointer;

    background: $background;
    &:hover {
        background-color: $background-hovered;       
    }
}

.wb-img-container {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding;
    width: $size;
    height: $size;
    box-shadow: $shadow;

    border-radius: 9999px;

    //    transition: all 250ms ease;
    transition: inherit;
    transition-delay: 0.35s;

    .wb-container:hover > & {
        transform: scale(1.25);
        background-color: $background-hovered;
        @include addBorder();
    }   
}

.wb-img {
    filter: brightness(0) invert(1);
    .wb-container:hover & {
       filter: none;
    }
}

.wb-text-container {
    position: absolute;
    z-index: -1;
    right: 0;
    box-shadow: $shadow;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border-bottom-left-radius: 0.55rem;
    background-color: $background-hovered;

    transition: inherit;
    opacity: 0%;
    width: fit-content;
    padding-right: 1rem;
    color:white;
    background-color: rgb(0 0 0 / 0.2);
    pointer-events: none;

    .wb-container:hover > & {
        transform: translateX(- calc( $size + 1rem ));
        opacity: 100%;
        background-color: $background-hovered;
        color: $blue;

        @include addBorder();
    }
}

.wb-text {
    white-space: nowrap;
    font-weight: 700;
}

